.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-thumb {
  background-color: #fca5a5;
  border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}
